<section class="section no-pad-bot" id="hero-banner">
	<div class="container" id="text-container">
		<div class="row">
			<div class="center-align heading">
				<div class="col l1 hide-on-med-and-down"></div>
				<div class="col s12 l10">
					<h1 class="active">Music is the food for our souls.</h1>
					<span>Amy Grant, Musician, Singer, Recording artist, from Nashville, US</span>
				</div>
				<div class="col l1 hide-on-med-and-down"></div>
			</div>
		</div>
	</div>
	<section id="start-now">
		<div class="container">
			<div class="row">
				<div class="col s12 center-align">
					<span>You got a project idea?</span>
					<a href="/#/" class="btn bordered waves-effect">Start Now</a>
				</div>
			</div>
		</div>
	</section>
</section>

<section id="upcoming-event" class="section">
	<div class="container">
		<div class="row">
			<div class="col s12 masonry">
				<p>My Projects</p>
				<ul>
					<li class="col s12 m3 item">
						<a href="#" id="community-1">
							<img src="images/events/event-1.png" />
							<span>SEP 19 - OCT 24</span>
							<h4>The Eyeslicer Season One</h4>
							<div class="collection">	
								<a class="collection-item">
									<span class="badge">20</span>Conversations
								</a>
								<a class="collection-item">
									<span class="badge">5</span>Updates
								</a>
								<a class="collection-item">
									<span class="badge"></span>File Shares
								</a>
								<a class="collection-item">
									<i class="material-icons left">perm_contact_calendar</i>
									<span class="badge"></span>Today: Session 5,at 5pm
								</a>
							</div>
						</a>
					</li>
					<li class="col s12 m3 item">
						<a href="#" id="community-2">
							<img src="images/events/event-2.png" />
							<span>SEP 19 - OCT 24</span>
							<h4>The Eyeslicer Season One</h4>
							<div class="collection">	
								<a class="collection-item">
									<span class="badge">20</span>Conversations
								</a>
								<a class="collection-item">
									<span class="badge">5</span>Updates
								</a>
								<a class="collection-item">
									<span class="badge"></span>File Shares
								</a>
								<a class="collection-item">
									<i class="material-icons left">perm_contact_calendar</i>
									<span class="badge"></span>Today: Session 5,at 5pm
								</a>
							</div>
						</a>
					</li>
					<li class="col s12 m3 item">
						<a href="#" id="community-3">
							<img src="images/events/event-3.png" />
							<span>SEP 19 - OCT 24</span>
							<h4>The Eyeslicer Season One</h4>
							<div class="collection">	
								<a class="collection-item">
									<span class="badge">20</span>Conversations
								</a>
								<a class="collection-item">
									<span class="badge">5</span>Updates
								</a>
								<a class="collection-item">
									<span class="badge"></span>File Shares
								</a>
								<a class="collection-item">
									<i class="material-icons left">perm_contact_calendar</i>
									<span class="badge"></span>Today: Session 5,at 5pm
								</a>
							</div>
						</a>
					</li>
					<li class="col s12 m3 item">
						<a href="#" id="community-4">
							<img src="images/events/event-4.png" />
							<span>SEP 19 - OCT 24</span>
							<h4>The Eyeslicer Season One</h4>
							<div class="collection">	
								<a class="collection-item">
									<span class="badge">20</span>Conversations
								</a>
								<a class="collection-item">
									<span class="badge">5</span>Updates
								</a>
								<a class="collection-item">
									<span class="badge"></span>File Shares
								</a>
								<a class="collection-item">
									<i class="material-icons left">perm_contact_calendar</i>
									<span class="badge"></span>Today: Session 5,at 5pm
								</a>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="upcoming-event" class="section">
	<div class="container">
		<div class="row">
			<div class="col s12 center-align masonry">
				<h1>No Ideas for Project yet?</h1>
				<a href="/#/" class="btn btn-primary waves-effect tell_us">Tell us What you care About</a>
				<p>We will connect you like minded people and projects</p>
				<ul>
					<li class="col s12 m3 item">
						<a href="#" id="community-1">
							<img src="images/events/event-1.png"/>
							<span>SEP 19 - OCT 24</span>
							<h4>The Eyeslicer Season One</h4>
						</a>
					</li>
					<li class="col s12 m3 item">
						<a href="#" id="community-1">
							<img src="images/events/event-1.png"/>
							<span>SEP 19 - OCT 24</span>
							<h4>Peter Evans and Taylor Ho Bynum</h4>
						</a>
					</li>
					<li class="col s12 m3 item">
						<a href="#" id="community-1">
							<img src="images/events/event-1.png"/>
							<span>SEP 19 - OCT 24</span>
							<h4>Second Sundays</h4>
						</a>
					</li>
					<li class="col s12 m3 item">
						<a href="#" id="community-1">
							<img src="images/events/event-1.png"/>
							<span>SEP 19 - OCT 24</span>
							<h4>Building and Improvising with Analog Circuitry</h4>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="community">
	<div class="container" id="eco-text-container">
		<div class="row">
			<div class="col s12 masonry community">
				<p>Active Co Creators</p>
				<ul>
					<li class="col s12 m2 item">
						<a href="#" id="community-1">
							<img src="/images/community/community-1.png" />
							<h4>Peter Evans</h4>
							<p>Photographer</p>
						</a>
					</li>
					<li class="col s12 m2 item">
						<a href="#" id="community-1">
							<img src="/images/community/community-2.png" />
							<h4>Peter Evans</h4>
							<p>Photographer</p>
						</a>
					</li>
					<li class="col s12 m2 item">
						<a href="#" id="community-1">
							<img src="/images/community/community-3.png" />
							<h4>Peter Evans</h4>
							<p>Photographer</p>
						</a>
					</li>
					<li class="col s12 m2 item">
						<a href="#" id="community-1">
							<img src="/images/community/community-4.png" />
							<h4>Peter Evans</h4>
							<p>Photographer</p>
						</a>
					</li>
					<li class="col s12 m2 item">
						<a href="#" id="community-1">
							<img src="/images/community/community-5.png" />
							<h4>Peter Evans</h4>
							<p>Photographer</p>
						</a>
					</li>
					<li class="col s12 m2 item">
						<a href="#" id="community-1">
							<img src="/images/community/community-6.png" />
							<h4>Peter Evans</h4>
							<p>Photographer</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- <div  class="prallaxNav">
	<ul>
		<li><a href="#hero-banner" class="active"></a></li>
		<li><a href="#eco-system"></a></li>
		<li><a href="#event-video"></a></li>
		<li><a href="#upcoming-events"></a></li>
		<li><a href="#community"></a></li>
	</ul>
</div> -->