<section class="section no-pad-bot" id="project">
	<div class="container">
		<div class="row">
			<div class="col s12 m4">
				<div class="left-col profile">
					<a class="right grey-text profile_edit editProfile-open"><i class="material-icons">edit</i></a>
					<div class="profile-img">
						<img src="/images/naveen.jpg"/>
					</div>
					<div>
						<ul class="tabs">
							<li class="tab col s12"><a class="active"  href="#summary">Summary</a></li>
							<li class="tab col s12"><a href="#creation">Co Creatons</a></li>
							<li class="tab col s12"><a href="#connection">Connections</a></li>
							<li class="tab col s12"><a href="#file">Files</a></li>
							<li class="tab col s12"><a href="#account">Accont Settings</a></li>
						</ul>
						<div class="divider"></div>
					</div>
				</div>
			</div>
			<div class="col s12 m8">
				<div class="right-col profile">
					<div id="summary">
						<div class="row">
							<div class="col s10">
								<h1>Naveen</h1>
							</div>
							<div class="col s2 right-align">
								<a href="#!" class="grey-text"><i class="material-icons">edit</i></a>
								<a href="#!" class="grey-text"><i class="material-icons">share</i></a>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<p>Flute Artist | Bangalore</p>
								<div>
									<a class="btn btn-primary project-open">Enroll</a>
									<a class="btn btn-primary class-open">Publish Class</a>
								</div>
							</div>
						</div>
						<div>
							<h5 class="mTop50">HIGHLIHTS</h5>
							<h5 class="mTop50">ABOUT THE COURSE</h5>
							<div id="instructor_detail">
								<h5 class="mTop50">INSTRUCTOR</h5>
							</div>
							<h5 class="mTop50">HOW DOES IT SERVES THE COMMON GOOD?</h5>
						</div>
					</div>
					<div id="account">
						<div class="row">
							<div class="col s12">
								<h1>Account Settings</h1>
							</div>
						</div>
						<div class="row">
							<div class="col s12 right-align">
								<a class="btn-flat waves-effect">Upgrade</a>
								<a class="btn-flat waves-effect">Change Password</a>
								<a class="btn-flat waves-effect">Deactivate Account</a>
							</div>
						</div>
						<p>General</p>
						<div class="row">
							<div class="input-field col s12">
								<input type="text" id="name">
								<label for="name">Name</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input type="text" id="username">
								<label for="username">Username</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<select>
									<option selected disabled>Country</option>
									<option>India</option>
									<option>USA</option>
									<option>UAE</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input type="text" id="phone">
								<label for="phone">Phone</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<select>
									<option selected disabled>Age</option>
									<option>18-25</option>
									<option>25-35</option>
									<option>35-45</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input type="text" id="currency">
								<label for="currency">Currency</label>
							</div>
						</div>
						<p>Privacy Settings</p>
						<div class="row">
							<div class="input-field col s12">
								<input type="text" id="cntct">
								<label for="cntct">Who can contact me?</label>
							</div>
						</div>
						<p>Bank Details</p>
						<div class="row">
							<div class="input-field col s12">
								<input type="text" id="bank_name">
								<label for="bank_name">Bank Name</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input type="text" id="acc_no">
								<label for="acc_no">Account No</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input type="text" id="ifsc">
								<label for="ifsc">IFSC</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<select>
									<option selected disabled>Country</option>
									<option>India</option>
									<option>USA</option>
									<option>UAE</option>
								</select>
							</div>
						</div>
					</div>
					<div id="creation">
						<div class="row">
							<div class="col s8">
								<h1>Co Creations</h1>
							</div>
							<div class="col s4 right-align">
								<a class="grey-text"><i class="material-icons">menu</i></a>
								<a class="grey-text"><i class="material-icons">more_vert</i></a>
							</div>
						</div>
					</div>
					<div id="connection">
						<div class="row">
							<div class="col s8">
								<h1>Connections</h1>
							</div>
							<div class="col s4 right-align">
								<a class="grey-text"><i class="material-icons">filter_list</i></a>
							</div>
						</div>
					</div>
					<div id="file">
						<div class="row">
							<div class="col s8">
								<h1>Files</h1>
							</div>
							<div class="col s4 right-align">
								<a class="grey-text"><i class="material-icons">menu</i></a>
								<a class="grey-text"><i class="material-icons">filter_list</i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- create Profile -->
<div class="custom-Modal active" id="CreateProject">
	<a class="custom-modal-close"><i class="material-icons">close</i></a>
	<form  name="createProject">
		<div class="custom-modal-content">
			<div class="row">
				<div class="col l2 hide-on-med-and-down"></div>
				<div class="col s12 l8">
					<h1>Create Project</h1>
				</div>
				<div class="col l2 hide-on-med-and-down"></div>
			</div>
			<div class="row">
				<div class="col l2 hide-on-med-and-down"></div>
				<div class="col s12 l8">
					<div class="row">
						<div class="input-field col s12">
							<select id="type">
								<option value="0" selected>Class 1</option>
								<option value="1">Class 2</option>
							</select>
							<label for="type">Project Type</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="text" name="classname" class="validate">
							<label>Class Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="text" name="shortdesc" class="validate">
							<label>Short Description</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<select id="type2">
								<option selected>Class 1</option>
								<option>Class 2</option>
							</select>
							<label for="type2">Type</label>
						</div>
						<div class="input-field col s6">
							<select id="category">
								<option selected>Class 1</option>
								<option>Class 2</option>
							</select>
							<label for="category">Category</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input type="text" name="starttime" class="validate">
							<label>Start Time</label>
						</div>
						<div class="input-field col s6">
							<input type="text" name="endtime" class="validate">
							<label>End Time</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input type="date" name="startdate" class="validate datepicker">
							<label>Start Date</label>
						</div>
						<div class="input-field col s6">
							<input type="date" name="enddate" class="validate datepicker">
							<label>End Date</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<select id="type">
								<option selected>Class 1</option>
								<option>Class 2</option>
							</select>
							<label for="type">Repeats Weekly, Every Monday</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input type="text" name="seats" class="validate">
							<label>Seats Available</label>
						</div>
						<div class="input-field col s6">
							<select id="price">
								<option selected>50</option>
								<option>100</option>
							</select>
							<label for="price">Price</label>
						</div>
					</div>
				</div>
				<div class="col l2 hide-on-med-and-down"></div>
			</div>
		</div>
		<div class="custom-modal-footer">
			<div class="row">
				<div class="col l2 hide-on-med-and-down"></div>
				<div class="col s12 l8 right-align">
					<a class="btn btn-primary waves-effect">Create</a>
				</div>
				<div class="col l2 hide-on-med-and-down"></div>
			</div>
		</div>
	</form>
</div>

<!-- create Class -->
<div class="custom-Modal" id="CreateClass">
	<a class="custom-modal-close"><i class="material-icons">close</i></a>
	<form name="createClass">
		<div class="custom-modal-content">
			<div class="row">
				<div class="col l2 hide-on-med-and-down"></div>
				<div class="col s12 l8">
					<h1>Class Settings</h1>
					<div class="row">
						<div class="input-field col s12">
							<input type="text" name="cclassname" class="validate">
							<label>Class Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="text" name="cshortdesc" class="validate">
							<label>Short Description</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<select id="type2">
								<option selected>Class 1</option>
								<option>Class 2</option>
							</select>
							<label for="type2">Type</label>
						</div>
						<div class="input-field col s6">
							<select id="category">
								<option selected>Class 1</option>
								<option>Class 2</option>
							</select>
							<label for="category">Category</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input type="text" name="starttime" class="validate">
							<label>Start Time</label>
						</div>
						<div class="input-field col s6">
							<input type="text" name="endtime" class="validate">
							<label>End Time</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input type="date" name="startdate" class="validate datepicker">
							<label>Start Date</label>
						</div>
						<div class="input-field col s6">
							<input type="date" name="enddate" class="validate datepicker">
							<label>End Date</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<select id="type">
								<option selected>Class 1</option>
								<option>Class 2</option>
							</select>
							<label for="type">Repeats Weekly, Every Monday</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input type="text" name="seats" class="validate">
							<label>Seats Available</label>
						</div>
						<div class="input-field col s6">
							<select id="price">
								<option selected>50</option>
								<option>100</option>
							</select>
							<label for="price">Price</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="text" name="instructor" class="validate">
							<label>Add Instructors</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="text" name="tags" class="validate">
							<label>Tags</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="text" name="highlights" class="validate">
							<label>Highlights</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="text" name="aboutclass" class="validate">
							<label>About the Class</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="text" name="good" class="validate">
							<label>This serves common good because</label>
						</div>
					</div>
				</div>
				<div class="col l2 hide-on-med-and-down"></div>
			</div>
		</div>
		<div class="custom-modal-footer">
			<div class="row">
				<div class="col l2 hide-on-med-and-down"></div>
				<div class="col s12 l4 left-align">
					<input type="submit" class="btn-flat waves-effect" value="Repeat Class" />
					<input type="submit" class="btn-flat waves-effect" value="Delete Class" />
				</div>
				<div class="col s12 l4 right-align">
					<a class="btn btn-primary waves-effect">Save</a>
				</div>
				<div class="col l2 hide-on-med-and-down"></div>
			</div>
		</div>
	</form>
</div>

<div class="custom-Modal" id="editProfile">
	<a class="custom-modal-close"><i class="material-icons">close</i></a>
	<form  name="Editprofile">
		<div class="custom-modal-content">
			<div class="row">
				<div class="col l2 hide-on-med-and-down"></div>
				<div class="col s12 l8">
					<h1>Add Photo and Video</h1>
					<div class="row">
						<div class="col s12 l6">
							<h4>Add Photo</h4>
							<span>You can upload a JPEG, GIF, or PNG file</span>
							<a class="upload">Upload Photo</a>
						</div>
						<div class="col s12 l6">
							<h4>Add Video</h4>
							<span>Link any of your online video</span>
							<div class="input-field">
								<a class="upload add-link">ADD</a>
								<input type="text" class="url">
								<label>URL</label>
							</div>
							<div>
								Or
							</div>
							<a class="upload">Upload Video</a>
						</div>
					</div>
				</div>
				<div class="col l2 hide-on-med-and-down"></div>
			</div>
		</div>
	</form>
</div>

</section>
<script src="scripts/masonry.pkgd.min.js"></script>
<!-- Local app main javascript -->
<script type="text/javascript">
$(document).ready(function(){
	$('.masonry').masonry({
		// options
		itemSelector : '.item'
	});
	$('ul.tabs').tabs();
	$('select').material_select();
	$('.datepicker').pickadate({
		selectMonths: true, // Creates a dropdown to control month
		selectYears: 15 // Creates a dropdown of 15 years to control year
	});
	$('.project-open').on('click',function(){
		$('#CreateProject').addClass('active');
	});
	$('.class-open').on('click',function(){
		$('#CreateClass').addClass('active');
	});
	$('.editProfile-open').on('click',function(){
		$('#editProfile').addClass('active');
	});
	$('.custom-modal-close').on('click',function(){
		$('.custom-Modal').removeClass('active');
	});
	setInterval(function(){
		if($('.custom-Modal').hasClass('active')){
			$('body').css('overflow','hidden');
		}
		else{
			$('body').css('overflow','');
		}
	},10);

});

</script>
