<section class="section no-pad-bot">
	<div class="container">
		<div class="row">
			<div class="col s12 m4">
				<div class="left-col">
					<div class="profile-img waytoPage">
						<div class="artistImg"><p>Tree of life (2015), by Bhaskar Rao</p></div>
					</div>
				</div>
			</div>

			<div class="col s12 m8">
				<div class="right-col wayToParticipate">
					<h1>Ways to Participate</h1>
					<div class="row">
						<div class="col s12 mTop50">
						  <ul class="tabs">
							<li class="tab col s12 m2"><a class="active" href="#cocreate">Co-create</a></li>
							<li class="tab col s12 m2"><a href="#research">Research</a></li>
							<li class="tab col s12 m2"><a href="#fund">Fund</a></li>
							<li class="tab col s12 m2"><a href="#mentor">Mentor</a></li>
							<li class="tab col s12 m2"><a href="#learn">Learn</a></li>
							<li class="tab col s12 m2"><a href="#exhitbit">Exhibit</a></li>
						  </ul>
						</div>
						<div id="cocreate" class="col s12 center-align"><img src="images/cocreate_CoCreate.png" /></div>
						<div id="research" class="col s12 center-align"><img src="images/research_Expriment.png" /></div>
						<div id="fund" class="col s12 center-align"><img src="images/Fund_Fund.png" /></div>
						<div id="mentor" class="col s12 center-align"><img src="images/mentor_Mentor.png" /></div>
						<div id="learn" class="col s12 center-align"><img src="images/learn_Learn.png" /></div>
						<div id="exhitbit" class="col s12 center-align"><img src="images/exhibit_Exhibit.png" /></div>
					  </div>
				</div>
			</div>
	   </div>
	</div>
</section>


<div id="slide-out" class="side-nav">
	<ul>
		<li>
			<div class="userView">

				  <div class="row">
					<!--div class="col s4">
					  <img class="circle" src="images/yuna.jpg">
					 </div>
					 <div class="col s8">
					  <span class="name">Meaghan R</span>
					  <span class="email">CURATOR</span>
					  <a href="#" style="line-height:1;">Logout</a>
					 </div -->
					 <div class="col s12">
						<a href="#" class="btn waves-effect white">Request for Invite</a>
						Already a member? <a href="#" class="text-uppercase dInlineBlock">Login</a> here
					 </div>
				  </div>

			</div>
			<!--div class="row">
				<div class="right">
					<i class="material-icons waves-effect">notifications</i>
					<i class="material-icons waves-effect">email</i>
				</div>
			</div-->
		</li>
	<li><div class="divider"></div></li>
	</ul>
	<ul ng-init="commonlinks=[{name:'Ways to participate?',link:'wayto.html'},{name:'About Common good',link:'commongood.html'},{name:'About us',link:'aboutus.html'}]">
		<li ng-repeat="x in commonlinks">
		  <a href="{{x.link}}">{{ x.name }}</a>
		</li>
	</ul>
</div>

<script src="js/masonry.pkgd.min.js"></script>
