<section class="section no-pad-bot">
	<div class="container">
		<div class="row">
			<div class="col s12 m4">
				<div class="left-col">
					<div class="profile-img waytoPage">
						<div class="artistImg"><p>Tree of life (2015), by Bhaskar Rao</p></div>
					</div>
				</div>
			</div>

			<div class="col s12 m8">
				<div class="right-col wayToParticipate">
					<h1>Ways to Participate</h1>
					<div class="row">
  						<div class="col s12 mTop50">
  						  <ul class="tabs">
                  <li class="tab col s12 m2"><a href="#/wayto">Co-create</a></li>
                  <li class="tab col s12 m2"><a href="#/wayto/research">Research</a></li>
                  <li class="tab col s12 m2"><a href="#/wayto/fund">Fund</a></li>
                  <li class="tab col s12 m2"><a href="#/wayto/mentor">Mentor</a></li>
                  <li class="tab col s12 m2"><a class="active" href="#/wayto/learn">Learn</a></li>
                  <li class="tab col s12 m2"><a href="#/wayto/exhibit">Exhibit</a></li>
  						  </ul>
  						</div>
  						<div id="learn" class="col s12 center-align"><img src="images/learn_Learn.png" /></div>
					  </div>
				</div>
			</div>
	   </div>
	</div>
</section>
