<div [ngClass]="{'active': showModal}" class="custom-Modal" id="ProfileCreation">
	<a class="custom-modal-close" (click)="closeModal()" ><i class="material-icons">close</i></a>
	<form  name="userDetails" #f="ngForm" (ngSubmit)="onProfileSubmit(f)">
		<div class="custom-modal-content">
			<div class="row">
				<div class="col l2 hide-on-med-and-down"></div>
				<div class="col s12 l8">
					<h1>My Profile</h1>
					<p>Personal</p>
					<div class="row">
						<div class="input-field col s12">
							<input type="text" [ngClass]="{'invalid': professionalTitleError}" name="professionaltitle" class="validate" [(ngModel)]="profile.professionaltitle" required />
							<label for="professionaltitle" [attr.data-error]="errorMessage" [class.active]="!!profile?.professionaltitle">Professional Title</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="text" name="statement" [ngClass]="{'invalid': statementErrorMsg}" class="validate" [(ngModel)]="profile.statement" required />
							<label for="statement" [attr.data-error]="errorMessage" [class.active]="!!profile?.statement">Your Statement</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<textarea class="materialize-textarea validate" name="yourself" [ngClass]="{'invalid': yourselfErrorMsg}" [(ngModel)]="profile.yourself" required></textarea>
							<label for="yourself" [attr.data-error]="errorMessage" [class.active]="!!profile?.yourself">Tell us about yourself</label>
						</div>
					</div>

          <div class="row">
						<div class="input-field col s12">
							<select materialize="material_select" (change)="onCountryChange($event.target.value)" name="country" ngModel>
                <option value="" disabled>Please choose...</option>
                <option *ngFor="let country of places" [value]="country.id">{{country.name}}</option>
              </select>
              <label>Country</label>
						</div>
					</div>

          <div class="row">
						<div class="input-field col s12">
							<select materialize="material_select" name="state" ngModel >
								<option value="" disabled selected>State</option>
                <option *ngFor="let state of states" [value]="state.id">{{state.name}}</option>
							</select>
              <label>State</label>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<select materialize="material_select" name="city" ngModel >
								<option value="" disabled selected>City</option>
							</select>
              <label>City</label>
						</div>
					</div>


          <p>Interests</p>
					<a class="btn-flat">Clear All</a><a class="btn-flat">Save</a>
					<div class="row">
						<div *ngFor="let category of profile.categories" class="col s12 m3">
							<p>{{category.name}}</p>
							<p *ngFor="let sub_category of category.children">
								<input type="checkbox" name="{{sub_category.fieldname}}" id="{{sub_category.fieldname}}" ngModel  />
								<label for="{{sub_category.fieldname}}">{{sub_category.name}}</label>
							</p>
						</div>
					</div>


					<div class="row">
						<div class="col s12">
							<input type="checkbox" id="acceptExp"/>
							<label for="acceptExp">Yes I would like to contribute my skills for any project?</label>
						</div>
					</div>
					<p>Portfolio</p>
					<div class="row">
						<div class="input-field col s12 m6">
							<input type="text" id="portfolioYoutube" />
							<label for="portfolioYoutube">Youtube</label>
						</div>
						<div class="input-field col s12 m6">
							<input type="text" id="portfolioBehance" />
							<label for="portfolioBehance">Behance</label>
						</div>
						<a class="btn-flat">Add More</a>
					</div>
					<p>Social</p>
					<div class="row">
						<div class="input-field col s12 m6">
							<input type="text" id="socialFb" />
							<label for="socialFb">Facebook</label>
						</div>
						<div class="input-field col s12 m6">
							<input type="text" id="socialLinkedIn" />
							<label for="socialLinkedIn">LinkedIn</label>
						</div>
						<a class="btn-flat">Add More</a>
					</div>
				</div>
				<div class="col l2 hide-on-med-and-down"></div>
			</div>
		</div>
		<div class="custom-modal-footer">
			<div class="row">
				<div class="col l2 hide-on-med-and-down"></div>
				<div class="col s12 l8 right-align">
					<input type="submit" class="btn btn-primary waves-effect" value="create"/>
				</div>
				<div class="col l2 hide-on-med-and-down"></div>
			</div>
		</div>
	</form>
</div>
