<section class="section no-pad-bot" id="profile" ng-controller="profileController">
  <div class="container">
    <div class="row mBottom0">
      <div class="col s12 m4">
        <div class="left-col profile">
          <div class="profile-img">
            <img src="/images/naveen.jpg"/>
            <span>Add your profile pictures or videos</span>
          </div>
        </div>
      </div>

      <div class="col s12 m8">
        <div class="right-col profile">
          <p class="welcome">Welcome</p>
          <h2>Naveen</h2>
          <p>It's so good to have you hear.<br>
          Let's build your best profile page.</p>
          <a class="btn btn-primary profileCreation" (click)="createModal.openModal()">Create Profile</a>
        </div>
      </div>
    </div>
  </div>
  <profile-create #createModal></profile-create>
</section>
