/*styles for home content only*/


.tmp-text-font {
  font-family: Josefin Sans, Roboto !important;
}

.form-help {
  margin: 0;
  a {
    cursor: pointer;
  }
}

.container {
  padding: 0 2.5%;
}

.msg-error {
  color: #ff0000;
}
