<div [ngClass]="{'active': showModal}" class="custom-Modal" id="login">
  <div class="costom-modal-header">
    <a (click)="closeModal()" class="close-modal clickable"><i class="material-icons">close</i></a>
  </div>

  <div>
    <section class="section no-pad-bot">
      <div class="container padding-mobile">
			<div class="row">
				<div class="col s12 l10">
				  <h1 *ngIf="modalType=='register' || modalType=='login'">Welcome</h1>
				  <h1 *ngIf="modalType=='changepassword'">Change Your Password</h1>
				  <div class="msg-block" *ngIf="errorMessage || successMessage">
					<!-- <span *ngIf="errorMessage" class="msg-error">{{errorMessage}}</span> -->
					<span *ngIf="successMessage" class="msg-success">{{successMessage}}</span>
				  </div>
				</div>
			</div>

          <!-- Register Section -->
          <div *ngIf="modalType=='register'">
            <!-- <div class="row">
              <div class="col s12">
                <a href="#" class="btn btn-facebook waves-effect">Signup with facebook</a>
                <a href="#" class="btn btn-google waves-effect">Signup with Google</a>
              </div>
            </div>-->
            <form #f="ngForm" (ngSubmit)="onRegisterSubmit(f)">
				<div class="row">
					<div class="input-field col s12 m6">
					  <input id="userFirstName" name="userFirstName" type="text" class="validate" ngModel required />
					  <label for="userFirstName" data-error="Please enter first name">First Name</label>
					</div>
					<div class="input-field col s12 m6">
					  <input id="userLastName" name="userLastName" type="text" class="validate" ngModel required />
					  <label for="userLastName" data-error="Please enter last name">Last Name</label>
					</div>
				</div>
				<div class="row">
					 <div class="input-field col s12 m6">
					  <input
						id="userName"
						name="userName"
						type="text"
						class="validate"
						[ngClass]="{'invalid': showUsernameError}"
						ngModel required />
					  <label for="userName" [attr.data-error]="errorMessage">User Name</label>
					</div>
					<div class="input-field col s12 m6">
					  <input
						id="userEmail"
						name="userEmail"
						type="email"
						class="validate"
						[ngClass]="{'invalid': showEmailError}"
						ngModel required />
					  <label for="userEmail" [attr.data-error]="errorMessage">Email</label>
					</div>
              </div>

              <div class="row">
					<div class="input-field col s12 m6">
					  <input
						type="password"
						class="validate"
						id="pw1" name="pw1"
						ngModel required />
					  <label for="pw1">Password</label>
					</div>
					<div class="input-field col s12 m6 password">
					  <input
						type="password"
						class="validate"
						id="pw2" name="pw2"
						#pw2="ngModel"
						ngModel required
						[ngClass]="{'invalid': showPasswordError}"
						validateEqual="pw1"/>
					  <label for="pw2" [attr.data-error]="errorMessage">Confirm Password</label>
					</div>
        </div>
        <div class="row">
          <recaptcha
            ngModel
            name="captcha"
            required
            siteKey="6LfvHxYUAAAAAM8w5a-ojJqKkVOMDjNeZjPm5SWx"
          ></recaptcha>
        </div>

              <!--<div class="row">
                <div class="input-field col s12 m6">
                  <select id="age">
                    <option value="0" selected>Above 18</option>
                    <option value="1">Under 18</option>
                  </select>
                </div>
              </div>-->

              <div class="row">
                <div class="col s24 m12">
                  Already a member? <a class="clickable" (click)="switchTo('login')">log in</a> here.
                </div>
              </div>

              <div class="row">
                <div class="col s12 m6 margin-top-20">
                  <input
                    type="checkbox"
                    name="terms"
                    [ngClass]="{'invalid': showAcceptTerms}"
                    id="accept" ngModel />
                  <label for="accept">
                    I accept terms and condtions of use.
                  </label>
                  <br>
                  <span *ngIf="showAcceptTerms" class="msg-error">{{errorMessage}}</span>
                </div>
                <div class="col s12 m6 right-align margin-top-20">
                  <button [disabled]="registerFormDisabled" type="submit" class="btn btn-primary waves-effect"> Sign Up </button>
                </div>
              </div>
            </form>
          </div>


          <!-- Login Section -->
          <div *ngIf="modalType=='login'">
            <form #f="ngForm" (ngSubmit)="onLoginSubmit(f)">
              <div class="costom-modal-content">
                <div class="row">
                  <div class="input-field col s12 m6">
                    <input
                      id="username"
                      name="username"
                      [ngClass]="{'invalid': showEmailError}"
                      type="text"
                      class="validate"
                      ngModel required />
                    <label for="username" [attr.data-error]="errorMessage">Username or email</label>
                  </div>
                  <div class="input-field col s12 m6">
                    <input
                      id="password"
                      type="password"
                      name="password"
                      [ngClass]="{'invalid': showPasswordError}"
                      ngModel required />
                    <label for="password" [attr.data-error]="errorMessage">Password</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col s12 m6">
                    Don't have an account? <a class="clickable" (click)="switchTo('register')">Register</a> here.
                    <br>
                    Forgot password? <a class="clickable" (click)="switchTo('changepassword')">Recover</a> here.
                  </div>

                  <div class="col s12 m6 right-align">
                    <input [disabled]="registerFormDisabled" type="submit" class="btn btn-primary waves-effect" value="Login">
                  </div>
                </div>
              </div>
            </form>
          </div>

          <!-- Change password section -->
          <div *ngIf="modalType=='changepassword'">
            <form #f="ngForm" (ngSubmit)="onChangePassword(f)">
              <div class="costom-modal-content">
                <div class="row">

                  <!-- Email or username input section -->
                  <div *ngIf="cpType=='request-code'" class="input-field col s12 l8">
                    <input
                      autocomplete="off"
                      id="username"
                      name="username"
                      [ngClass]="{'invalid': showEmailError}"
                      type="text"
                      class="validate"
                      ngModel required />
                    <label for="username" [attr.data-error]="errorMessage">Username or email</label>
                  </div>

                  <!-- Reset password section -->
                  <div *ngIf="cpType=='reset-password'" class="input-field col s12 l8">
                    <input
                      id="resetcode"
                      name="resetcode"
                      [ngClass]="{'invalid': showCodeError}"
                      type="text"
                      class="validate"
                      ngModel required />
                    <label for="resetcode" [attr.data-error]="errorMessage">Reset code</label>
                  </div>
                  <div *ngIf="cpType=='reset-password'" class="input-field col s12 l8">
                    <input
                      id="pw1"
                      type="password"
                      name="pw1"
                      ngModel required />
                    <label for="pw1">New Password</label>
                  </div>
                  <div *ngIf="cpType=='reset-password'" class="input-field col s12 l8">
                    <input
                      id="pw2"
                      type="password"
                      name="pw2"
                      [ngClass]="{'invalid': showPasswordError}"
                      ngModel required
                      validateEqual="pw1" />
                    <label for="pw2" [attr.data-error]="errorMessage">Re-enter Password</label>
                  </div>

                </div>
                <div class="row" *ngIf="cpType=='reset-password'">
                  <recaptcha
                    ngModel
                    name="captcha"
                    required
                    siteKey="6LfvHxYUAAAAAM8w5a-ojJqKkVOMDjNeZjPm5SWx"
                  ></recaptcha>
                </div>

                <div class="row">
                  <div class="col s12 m6 right-align">
                    <input type="submit" class="btn waves-effect white hero-btnw" (click)="switchTo('login')" value="Login">
                      <input [disabled]="registerFormDisabled" *ngIf="cpType=='request-code'" type="submit" class="btn btn-primary waves-effect" value="Get Code">
                      <input [disabled]="registerFormDisabled" *ngIf="cpType=='reset-password'" type="submit" class="btn btn-primary waves-effect" value="Reset">
                  </div>
                </div>
              </div>

            </form>
          </div>


          <!-- Invite Section -->
          <div *ngIf="modalType=='invite'">
            <form #f="ngForm" (ngSubmit)="onInviteSubmit(f)">
              <div class="costom-modal-content">
                <div class="row">
                  <div class="col l2 hide-on-med-and-down"></div>
                  <div class="col s12 l8">
                    <p>To create a free Lets Create account, you will need a valid email address.
                    <br> This address will only be used to send your signup link.</p>
                    <div class="input-field">
                      <input
                        type="email"
                        name="email"
                        autocomplete="off"
                        [ngClass]="{'invalid': showEmailError}"
                        ngModel required />
                      <label for="email" [attr.data-error]="errorMessage">Email</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="custom-modal-footer">
                <div class="row">
                  <div class="col l2 hide-on-med-and-down"></div>
                  <div class="col s12 l8 right-align">
                    <i class="btn btn-primary waves-effect waves-input-wrapper">
                      <input type="submit" class="btn btn-primary waves-effect" value="Request for Invite">
                    </i>
                  </div>
                  <div class="col l2 hide-on-med-and-down"></div>
                </div>
              </div>
            </form>
          </div>


      </div>
    </section>
  </div>
</div>
