/*styles for home content only*/
.custom-Modal{
	height:100% !important;
}
.custom-Modal form input + label.active{
	color: #9e9e9e;
}
.close-modal {
	float: right;
    color: #fff;
    background-color: #ff5a5f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 7px;
    border: none;
    line-height: 50px;
    margin: 15px 15px 0px 0px;
}
.clickable{
	color: #ff5a5f;
	display:inline-block;
	font-weight:500;
	text-transform:uppercase;
}

.tmp-text-font {
  font-family: Josefin Sans, Roboto !important;
}

.form-help {
  margin: 0;
  a {
    cursor: pointer;
  }
}

.container {
  padding: 0 2.5%;
}

.msg-error {
  color: #f17676;
}

.msg-success {
  color: #9ccc65;
}

.margin-top-20 {
  margin-top: 20px;
}

.ng-valid {
  border-bottom: 1px solid #9ccc65 !important;
  -webkit-box-shadow: 0 1px 0 0 #9ccc65 !important;
  box-shadow: 0 1px 0 0 #9ccc65 !important;
}

.ng-dirty.ng-invalid {
  border-bottom: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ng-valid.ng-dirty.ng-invalid {
  border-bottom: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

