<section class="section no-pad-bot " id="hero-banner">
	<div class="container" id="hero-text-container">
		<div class="row">
			<div class="center-align heading">
				<div class="col l1 hide-on-med-and-down"></div>
				<div class="col s12 l10">
					<h1 class="active">A community of creatives and catalysts who co-create for the Common good!</h1>
					<h1>An interdisciplinary networked platform that gathers creatives, curators, mentors, patrons and entrepreneurs.</h1>
					<h1>... at the convergence of arts, design, science, Technology and Business.</h1>
					<h1>... to foster creativity, co-creation, community, discourse and entrepreneurship.</h1>
					<h1>... for economic, cultural, environmental and individual flourishing.</h1>
				</div>
				<div class="col l1 hide-on-med-and-down"></div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 mTop50">
				<div class="center-align ">
					<a href="#/register" class="btn btn-primary waves-effect">Explore</a>
					<a href="#/login" class="btn waves-effect white hero-btnw">login</a>
				</div>
				<!--div class="center-align mTop15" ng-if="!loggedIn">
					Already a member? <a href="#/login" class="text-uppercase white-text open-modal">Login</a> here
				</div-->
			</div>
		</div>
	</div>
</section>
<section id="eco-system" class="section ">
	<div class="container" id="eco-text-container">
		<div class="row">
			<div class="col s12 center-align">
				<h1>Developing a thriving ecosystem</h1>
				<a href="#" class="btn btn-primary waves-effect mTop60vh">Play Video</a>
			</div>
		</div>
	</div>
</section>

<section id="event-video" class="section ">
	<div class="" id="event-text-container">
		<div class="">
			<div class=" center-align">
				<h3>Dummy Text</h3>
				<h5>-- Test</h5>
			</div>
		</div>
	</div>
</section>

<section id="upcoming-events" class="section ">
	<div class="container">
		<div class="row">
			<div class="col s12 center-align masonry">
				<h1>Upcoming events</h1>
        <ul>
					<li *ngFor="let event of events" class="col s12 m3 item">
						<a href="#" id="community-2">
							<img src="{{event.banner_url}}"/>
							<span>{{event.start_date}} - {{event.end_date}}</span>
							<h4 class="event-title">{{event.name}}</h4>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>


<section id="community" class="">
	<div class="container" id="eco-text-container" ng-controller="communityCtrl">
		<div class="row">
			<div class="col s12 masonry community">
				<h1 class="center-align ">Community</h1>
				<ul>
					<li class="col s12 m2 item">
						<a href="#" id="community-1">
							<img src="images/events/event-1.png"/>
							<h4>SEP 19 - OCT 24</h4>
							<p>The Eyeslicer Season One</p>
						</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>

<div  class="prallaxNav">
	<ul>
		<li><a href="#hero-banner" class="active"></a></li>
		<li><a href="#eco-system"></a></li>
		<li><a href="#event-video"></a></li>
		<li><a href="#upcoming-events"></a></li>
		<li><a href="#community"></a></li>
	</ul>
</div>
